body {
  font-family: "Open Sans", sans-serif;
  background-color: rgb(54, 54, 54);
}
#container {
  width: 100%;
  height: auto;
  margin-top: 5%;
}
#calculator {
  width: 320px;
  height: 490px;
  background-color: #e6e9eb;
  margin: 0 auto;
  top: 20px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#result {
  height: 80px;
}

input {
  background-color: #bdbdbd;
  color: #000000;
  outline: none;
  text-align: right;
  border: none;
  font-size: 3rem;
  width: 300px;
  height: 60px;
  margin-top: 8px;
  margin-left: 8px;
  border-radius: 10px;
}

#keyboard {
  height: 400px;
}
.operator,
.number,
.empty {
  width: 50px;
  height: 50px;
  margin: 15px;
  float: left;
  border-radius: 50%;
  border-width: 0;
  font-weight: bold;
  font-size: 15px;
}
.number,
.empty {
  background-color: #e6e9eb;
}
.number,
.operator {
  cursor: pointer;
}
.operator:active,
.number:active {
  font-size: 13px;
}
.operator:focus,
.number:focus,
.empty:focus {
  outline: 0;
}
button:nth-child(4) {
  font-size: 20px;
  background-color: #8d8d8d;
}
button:nth-child(8) {
  font-size: 20px;
  background-color: #bdbdbd;
}
button:nth-child(12) {
  font-size: 20px;
  background-color: #8d8d8d;
}
button:nth-child(16) {
  font-size: 20px;
  background-color: #bdbdbd;
}
button:nth-child(20) {
  font-size: 20px;
  background-color: #8d8d8d;
}
